.auth-container {
  position: relative;
  width: 100%;
  height: 100%;

  .auth-view {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 250px;
    width: 400px;
  }
}
