<div class="modal-header">
  <h2>New adherent</h2>
</div>
<form class="form-horizontal" ng-submit="createAdherent()">
  <div class="modal-body">
    <ng-include src="'views/adherent/adherent_partial.html'" ></ng-include>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
