<h2>{{adherentObj.name}} {{adherentObj.firstname}}</h2>
<form class="form-horizontal" ng-submit="updateAdherent()">
  <ng-include src="'views/adherent/adherent_partial.html'" ></ng-include>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
