<button type="button" ui-sref="home.adherents.create" class="create-adherent btn btn-success">Ajouter un adhérent</button>
<table class="table">
  <thead>
    <tr>
      <th>N° adhérent</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      <tr ng-repeat="adherent in adherentObj">
        <td>{{adherent.number}}</td>
        <td>{{adherent.name}}</td>
        <td>{{adherent.firstname}}</td>
        <td><a ui-sref="home.adherents.update({id: adherent.id})" class="btn btn-primary">Edit</a></td>
        <td><a ng-click="deleteAdherent(adherent.id)" class="btn btn-danger">Delete</a></td>
      </tr>
    </tbody>
  </thead>
</table>
