<div class="form-group">
  <label class="col-sm-2" for="adherent-name">Name</label>
  <div class="col-sm-10">
    <input type="text" id="adherent-name" class="form-control"  ng-model="adherentObj.name">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2" for="adherent-firstname">Firstname</label>
  <div class="col-sm-10">
    <input type="text" id="adherent-firstname" class="form-control"  ng-model="adherentObj.firstname">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2" for="adherent-birthdate">Birthdate</label>
  <div class="col-sm-10">
    <input type="text" id="adherent-birthdate" class="form-control"  ng-model="adherentObj.birthdate">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2" for="adherent-email">Email</label>
  <div class="col-sm-10">
    <input type="email" id="adherent-email" class="form-control"  ng-model="adherentObj.email">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2" for="adherent-phone">Phone</label>
  <div class="col-sm-10">
    <input type="text" id="adherent-phone" class="form-control"  ng-model="adherentObj.mobile">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2" for="adherent-number">Number</label>
  <div class="col-sm-10">
    <input type="int" id="adherent-number" class="form-control"  ng-model="adherentObj.number">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2" for="adherent-name">Want newsletter</label>
  <div class="col-sm-10">
    <input type="text" id="adherent-name" class="form-control"  ng-model="adherentObj.name">
  </div>
</div>
