<header class="header navbar">
  <ul class="nav navbar-nav container">
    <li><a ui-sref="home.adherents.list" ui-sref-active="active">Adhérents</a></li>
    <li><a ui-sref="home.events" ui-sref-active="active">Soirées</a></li>
    <li><a ui-sref="home.places" ui-sref-active="active">Lieux</a></li>
    <li><a ui-sref="login" class="logout-action btn-btn-default">Logout</a></li>
  </ul>
</header>
<div class="main-container container" ui-view>
</div>
<footer class="footer">
</footer>
