<div class="auth-container">
  <div class="auth-view" ng-controller="LoginCtrl">
    <form class="form" ng-submit="login(credentials)" name="auth-form" novalidate>
      <div class="form-group">
        <label for="username" class="label-control">Identifiant</label>
        <input id="username" ng-model="credentials.username" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="password" class="label-control">Mot de passe</label>
        <input id="password" ng-model="credentials.password" type="password" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary submit">Login</button>
    </form>
  </div>
</div>
